
.fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: lightblue;
}

.gradient-background {
    background: linear-gradient(to right, #f0f3f4, #d2e4f3);
    
}